extends ../layout

block content
  .container.mt-4
    .row.align-items-center.mb-4
      .col
        if userName
          h1.mb-0 Welcome #{userName} to the Blog
        else
          h1.mb-0 Blog Posts
      .col-auto
        if user
          a.btn.btn-primary(href='/blog/new')
            i.bi.bi-plus-lg.me-2
            | Create New Post
        else
          .alert.alert-info.mb-0
            | Please 
            a(href='/login') log in
            |  to create posts
    
    form.row.g-3.mb-4(action='/blog', method='GET')
      .col-md-8.col-lg-6
        .input-group.input-group-lg.shadow-sm
          input.form-control.border-end-0(type='search', name='search', placeholder='Search blogs...', value=search)
          button.btn.btn-outline-primary.border-start-0(type='submit')
            i.bi.bi-search.fs-5
      if search
        .col-auto
          a.btn.btn-outline-secondary.btn-lg(href='/blog')
            i.bi.bi-x-lg.me-2
            | Clear Search
    
    if search
      .alert.alert-info.mb-4
        if posts.length === 0
          | No results found for "
          strong #{search}
          | "
        else
          | Found 
          strong #{posts.length}
          |  result#{posts.length === 1 ? '' : 's'} for "
          strong #{search}
          | "
    
    .row
      if posts && posts.length > 0
        each post in posts
          .col-md-6.mb-4
            .card
              .card-body
                h5.card-title= post.title
                p.card-text= post.content ? (post.content.length > 200 ? post.content.substring(0, 200) + '...' : post.content) : ''
                p.text-muted 
                  | Posted by #{post.author && post.author.name ? post.author.name : 'Anonymous'}
                  if post.createdAt
                    |  on #{new Date(post.createdAt).toLocaleDateString()}
                if user && user === post.authorId
                  .btn-group.mt-2
                    a.btn.btn-secondary.btn-sm(href=`/blog/${post.id}/edit`) Edit
                    form(action=`/blog/${post.id}/delete`, method='POST', style='display: inline')
                      button.btn.btn-danger.btn-sm(type='submit', onclick='return confirm("Are you sure?")') Delete
      else
        .col-12
          .alert.alert-info No blog posts yet. Be the first to create one!
